streamlit
pandas
pypandoc
pydantic
gspread
google-api-python-client
google-auth
streamlit-mathlive
streamlit-paste-button
python-docx
google-auth
google-auth-httplib2
google-auth-oauthlib
